@model workForum.Models.Article

@{
    ViewData["Title"] = "論壇";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    
}

<h1>論壇</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Article" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          
                <div>
                    請選擇要上傳的檔案
                    <p><input type="file" name="photo" id="photo" /></p>
                  
                </div>
          
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" value="@userAccount" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch" class="control-label"></label>
                <input asp-for="Watch" class="form-control" />
                <span asp-validation-for="Watch" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="發布" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回首頁</a>
</div>

